body{
  width: auto;
}
header{
  background: #fff;
  height: 80px;
  padding: 20px 0 20px 0;

}

#section-hero{
  background-image: url(../labcar/img/taxi.jpg);
  height: 1000px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

}
#div-registrate{
  width: 500px;
  background: #f7b617;
  height: 350px;
  color: white;
  padding: 10px;
  margin-left: 849px;
}
#div-registrate h2{
  display: none;
}
#div-registrate h3{
  display: inline-block;
}
#div-registrate hr{
  display: inline-block;
  width: 144px;
  margin-right: 29px;
  margin-left: 29px;
}
#div-registrate img{
  width: 99px;
  margin-left: 25px;
}
#div-registrate label{
  position: absolute;
  margin-left: -25px;
}
#section-informacion{
  height: 600px;
  background: #f7b617;
  display:flex;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#section-informacion #container{
  border: 1px solid white;
  width: 1200px;
  padding: 30px 0 30px 100px;
}
#section-informacion p{
  font-size: 20px;
}
#section-conduce{
  background-image: url(../labcar/img/conduce.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section-conduce #conviertete-conductor{
  background: #333;
  opacity: 0.5;
  height: 600px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 40px;
}
#section-conduce #conviertete-conductor button{
  background: #f7b617;
  border: none;
}
#section-tarifa{
  height: 600px;
  background: #f7b617;
}
#section-tarifa #rutas{
  color: #fff;

  padding: 185px 0 180px 120px;
}
#section-tarifa #rutas span{
  display: inline-block;
  padding: 0 20px 0 20px;
}
#section-tarifa #rutas input {
  display: inline-block;
  width: 350px;
  border:  1px solid #fff;
  background: #f7b617;
  color: #fff;
}
#section-tarifa #rutas button {
  margin-left: 150px;
}
#section-tarifa #mapa{
 height: 600px;
 padding: 40px;
}
#section-tarifa #mapa #contenedor-mapa{
  width: 600px;
  height: 530px;
  padding: 20px;
  border: 1px solid #fff;
}
#section-tarifa #mapa #contenedor-mapa img{
  width: 555px;
  height: 480px;
}
#section-footer{
  height: 600px;
  background: #333;
  color: #fff;
}
#section-footer #row-uno{
  height: 100px;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
#section-footer #row-dos{
  height: 400px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
#section-footer #row-dos ul li{
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
#section-footer #row-tres{
  height: 100px;
  border-top: 1px solid #fff;
  text-align: center;
}
#section-tarifa #map{
  width: 550px;
  height: 475px;
}

@media (max-width:600px) {
  #section-hero{
    height: 600px;
  }
  #section-hero #div-registrate{
    margin-left: 110px;
    width: 250px;
    height: 176px;
  }
  #section-hero #div-registrate h1, #section-hero #div-registrate h5, #section-hero #div-registrate hr, #section-hero #div-registrate label, #section-hero #div-registrate h3,#section-hero #div-registrate img{
    display: none;
  }
  #section-hero #div-registrate h2{
    display: inline-block;
  }
  #section-informacion{
    height: 400px;
  }
  #section-informacion #parrafo{
    display: none;
  }
  #section-informacion img{
    width: 200px;
  }
  #section-informacion #container{
    padding: 70px 45px 70px 45px;
  }
  #section-conduce #conviertete-conductor{
    width: 360px;
  }
  #section-tarifa{
    height: 400px;
    padding-top: 40px;
    padding-left: 20px;
  }
  #section-tarifa #mapa #contenedor-mapa, #section-tarifa #mapa #contenedor-mapa img{
    display: none;
  }
  #section-tarifa #rutas{
    padding: 10px;
  }
  #section-tarifa #rutas input{
    width: 220px;
  }
  #section-tarifa #rutas button{
    margin-left: 90px;
  }
  #section-footer{
    height: 630px;
  }
  #section-footer #oculto-2{
    margin-left: -70px;
  }
  #section-footer #oculto-1 {
    display: none;
  }
  #section-footer #iconos{
    display: none;
  }
  #section-footer #publicidad{
    height: 350px;
  }
}
