nav{
  background: #fff;
  height: 80px;
  padding: 20px 0 20px 0;
}
#section-hero{
  background-image: url(../labcar/img/taxi.jpg);
  height: 1000px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#div-registrate{
  background: #f7b617;
  height: 350px;
  color: white;
  padding: 10px;
}
#div-registrate h3{
  display: inline-block;
}
#div-registrate hr{
  display: inline-block;
  width: 144px;
  margin-right: 29px;
  margin-left: 29px;
}
#div-registrate img{
  width: 99px;
  margin-left: 25px;
}
#div-registrate label{
  position: absolute;
  margin-left: -25px;
}
#section-informacion{
  height: 600px;
  background: #f7b617;
  display:flex;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#section-informacion #container{
  border: 1px solid white;
  width: 1200px;
  padding: 30px 0 30px 100px;
}
#section-informacion p{
  font-size: 20px;
}
#section-conduce{
  background-image: url(../labcar/img/conduce.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section-conduce #conviertete-conductor{
  background: #333;
  opacity: 0.5;
  height: 600px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 40px;

}
#section-conduce #conviertete-conductor button{
  background: #f7b617;
  border: none;
}
